header{
	text-align: center;
}
.navbar ul{
margin: 0 auto;
}
footer{
	bottom: 0;
	position: absolute;
}
#image{
	height: 20vh;
}
#image1{
	height: 50vh;
	float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

#aboutmesection {
    margin-top: 25px;
}